/* Lookup styling */
span.dict-entry_input {
  display: block; }

span.dict-entry_pinyin {
  font-style: italic;
  display: block;
  padding: 5px; }

span.dict-entry_english {
  font-weight: bold;
  display: block;
  padding: 5px; }

span.dict-entry_notes {
  display: block;
  padding: 5px; }
