<h2>
  Dictionary Lookup
</h2>
<p>
  <span class='dict-entry_input'>
  	<input type='textfield' #chinese/>
    <button (click)="lookup(chinese.value)">Lookup</button>
  </span>
  <span class='dict-entry_pinyin'>Pinyin: {{pinyin}}</span>
  <span class='dict-entry_english'>English: {{english}}</span>
</p>
<p>
  Example: 康熙帝國
</p>  
<dialog id='dict-dialog'>
  <p id='dict-dialog_headword'></p>
  <p id='dict-dialog_pinyin'></p>
  <p id='dict-dialog_english'></p>
  <button id='dict-dialog_ok'>OK</button>
</dialog>
